{
"wa_username": "4756f8c2-2672-4d0c-b2ad-5cc84309e01a",
"wa_password": "CG5gj75WFWk6",
"wa_workspace_id": "9d60ed57-b4b7-4b68-848e-0bdb70c22ba0",
"cloudant_url": "https://2ad60e67-f3ff-49e9-85d2-d667bba213c0-bluemix:c1933f500e932eabd3685b81afae3a48b2b844fab9726751cf581e262d3bdaa3@2ad60e67-f3ff-49e9-85d2-d667bba213c0-bluemix.cloudant.com",

"fb_verification_token": "Hack12345",
"fb_page_access_token": "EAAD6zXykGQoBAPPcW9V0Ad1uRE1vDMRF7l0yd5hvhqGk8oKJooXBtAEjGuGS4cBa7LUjbVk4bfFTa345a9dgeNGKdkqU1hfFQtKdC5AqXjJRouz0gkc25FNjZAJualCn8tkDcnoJkc0VoYIR3PchjZCoMS2vr3R1ZAwwNDhsQZDZD",
"vr_api_key": "",
"vr_model_id": "",
"wds_username": "",
"wds_password": "",
"wds_enviroment": "",
"wds_collection_reviews": ""
}
